.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    height: 8.5rem;
}

.header img {
    width: 7.875rem;
    height: 5rem;
    flex-shrink: 0;
}