.header {
    background: var(--gray-700);
    width: 90rem fixed;
    height: 12.5rem;
    flex-shrink: 0;
}

.header img {
    width: 7.875rem fixed;
    height: 3rem fixed;
    flex-shrink: 0;
    margin-top: 3.7rem;
    margin-left: 37rem;
}