.wrapper {
    display: flex;
    width: 46rem;
    align-items: center;
    gap: 0.5rem;
    margin: auto;
    margin-top: -1rem;
}

.wrapper input {
    width: 39.875rem;
    height: 3.375rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--gray-700, #0D0D0D);
    background: var(--gray-500, #262626);
}

.wrapper button {
    width: 6.625rem;
    height: 3.25rem;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    background: var(--blue-dark, #1E6F9F);
    color: var(--gray-100, #F2F2F2);
}